<h1>My Shady Past</h1>

<hr>
<div class="row">
  <div class="col-md-5">
  <%= image_tag "Oregon.JPG", height: 400,  alt: "profile image"%>

  </div>
  <div class="col-md-7">
    <p>This is a bunch of stuff about me <br>
    and i dont know what to write here</p>
  </div>
 </div> 

