<div class="app-card-container">
  <div class="card">
    
    <h1>My Shady Past</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "Oregon.JPG", height: 300,  alt: "profile image", class: 'profile-img'%>   
        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
                    <h4><%=skill.title %></h4>
            <div class="progress">
              <div
               class="progress-bar progress-bar-striped bg-warning"
               role="progressbar"
               aria-valuenow="<%= skill.percent_utilized %>"
               aria-valuemax="100"
               style="width: <%= skill.percent_utilized %>%"
               >
                </div>
              </div>
            </div>
      

          <% end %>
        </div>
      </div>
      <div class="col-md-8">
        <p>This is a bunch of stuff about me <br>
        and i dont know what to write here
        </p>
        <p>
        more stuff i dont know
        </p>
      
        <p>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#jobHistory"
          aria-expanded="false"
          aria-controler="jobHistory"
        >
            Job History
        </button>
        </p>
                <p>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#education"
          aria-expanded="false"
          aria-controler="education"
        >
            Education
        </button>
        </p>

        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
            job 1
            </div>
            <div class="card card-block">
            job 2
            </div>
            <div class="card card-block">
            job 3
            </div>
          </div>
        </p>

          <p>
          <div class="collapse" id="education">
            <div class="card card-block">
            some eduaction
            </div>
            <div class="card card-block">
            education 
            </div>
          </div>
        </p>
      </div>
     </div> 
  </div>
</div>



