
<div class="inner cover">
  <h1 class="cover-heading">Welcome to my page</h1>
    <p class="lead">Check out my projects in the Portfiolos section!  Read up on my blog! Or just feel free to click around and explore.  If you like what you see be sure to click the 'Contact' tab!</p>
    <p class="lead">
      <%= link_to "Learn More", about_path, class: "btn btn-lg btn-secondary" %>
    </p>
</div>



      
 


